<div class="home-container">
  <div class="content">
    <div>
      <button
        pButton
        label="Baixar Pesquisa"
        icon="pi pi-download"
        class="p-button-outlined"
        (click)="downloadExcell()"
      ></button>
    </div>

    <div class="grafico">
      <h3>Média Geral: {{ mediaGeral }}</h3>
    </div>

    <div class="linha-grafico">
      <div class="grafico">
        <h4>Resultado Geral por Dimensão</h4>
        <p-chart
          type="bar"
          [data]="chartData"
          [options]="chartOptions"
          [plugins]="chartPlugins"
          [height]="'300px'"
          [width]="'500px'"
        ></p-chart>
      </div>
    </div>

    <div class="linha-grafico">
      <div class="grafico">
        <h4>Distribuição por Sexo</h4>
        <p-chart
          type="bar"
          [data]="chartSexoData"
          [options]="chartOptions"
          [plugins]="chartPlugins"
          [height]="'300px'"
          [width]="'500px'"
        ></p-chart>
      </div>

      <div class="grafico">
        <h4>Distribuição por Gênero</h4>
        <p-chart
          type="bar"
          [data]="chartGeneroData"
          [options]="chartOptions"
          [plugins]="chartPlugins"
          [height]="'300px'"
          [width]="'500px'"
        ></p-chart>
      </div>
    </div>

    <div class="linha-grafico" style="justify-content: center">
      <div class="grafico-expandido-mid">
        <h4>Resultado por Área (%)</h4>
        <p-chart
          type="bar"
          [data]="chartAreaData"
          [options]="chartOptions"
          [plugins]="chartPlugins"
          [height]="'400px'"
        ></p-chart>
      </div>
    </div>

    <div class="linha-grafico" style="justify-content: center">
      <div class="grafico-expandido-mid">
        <h4>Respondentes por Área (QTDE)</h4>
        <p-chart
          type="bar"
          [data]="chartQtdRespostasArea"
          [options]="chartOptions"
          [plugins]="chartPlugins"
          [height]="'400px'"
        ></p-chart>
      </div>
    </div>

    <div class="linha-grafico" style="justify-content: center">
      <div class="grafico-expandido-mid">
        <h4>Respondentes por Área (%)</h4>
        <p-chart
          type="bar"
          [data]="chartPorcentagemRespostasArea"
          [options]="chartOptions"
          [plugins]="chartPlugins"
          [height]="'400px'"
        ></p-chart>
      </div>
    </div>

    <div class="linha-grafico full-width">
      <div class="grafico-expandido">
        <h4>Resultado por Pergunta</h4>
        <p-chart
          type="bar"
          [data]="chartNotaPergunta"
          [options]="chartOptions"
          [plugins]="chartPlugins"
          [height]="'400px'"
        ></p-chart>
      </div>
    </div>

    <div class="linha-grafico">
      <div
        style="display: flex; gap: 2rem; width: 100%; justify-content: center"
      >
        <div style="width: 50%">
          <h4>Faixa Etária</h4>
          <p-chart
            type="doughnut"
            [data]="chartFaixaEtariaData"
            [options]="chartOptions"
            [plugins]="chartPlugins"
          ></p-chart>
        </div>
      </div>
    </div>

    <div class="linha-grafico">
      <div class="grafico-expandido">
        <h4>Média por Dimensão e Área</h4>
        <p-chart
          type="bar"
          [data]="chartAreaCategoria"
          [options]="chartOptions"
          [plugins]="chartPlugins"
          [height]="'400px'"
        ></p-chart>
      </div>
    </div>
  </div>
</div>

<app-modal-loading></app-modal-loading>
