/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

/* styles.css ou styles.scss */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  body {
    box-sizing: border-box;
  }
  
  app-root {
    flex: 1; /* Garante que o conteúdo do app-root ocupe todo o espaço disponível */
    display: flex;
    flex-direction: column;
  }
  
  